<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,  log4net" />
		<section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
		<section name="combres" type="Combres.ConfigSectionSetting, Combres" />
	</configSections>
	<system.web>
		<compilation targetFramework="4.0" debug="true">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<customErrors mode="RemoteOnly"></customErrors>
		<authentication mode="Forms">
			<forms loginUrl="~/User/Login" timeout="10080" />
		</authentication>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="Predictable">
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.WebPages" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Collections.ObjectModel" />
				<add namespace="Combres" />
			</namespaces>
		</pages>
		<machineKey validationKey="4C468E9EF650D035351B775655F6A2D6896CC77D64BE617AB4CCE13619789D29470755E984AF1B3E35E8261864FD9FCE17A782B4911D6501B6EC295352A7C372" decryptionKey="C62F14FE75CC71B394BAC79ACF5F38949B2F05396C8A5EFE66F31B3579C3C0D3" validation="SHA1" decryption="AES" />

		<httpHandlers>
			<add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
		</httpHandlers>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers>
			<remove name="UrlRoutingHandler" />
			<add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
	</system.serviceModel>
	<appSettings>
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="CombresSectionName" value="combres" />
	</appSettings>
	<connectionStrings>
		<add name="TimezConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Timez;Integrated Security=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="SpecifiedPickupDirectory" from="noreply@timez.org">
				<specifiedPickupDirectory pickupDirectoryLocation="C:\Temp\" />
			</smtp>
		</mailSettings>
	</system.net>
	<log4net>
		<appender name="Log" type="log4net.Appender.RollingFileAppender">
			<file value="log.txt" />
			<appendToFile value="true" />
			<maximumFileSize value="100KB" />
			<maxSizeRollBackups value="2" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d [%t] %-5p %c - %m%n" />
			</layout>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="RollingFile" />
		</root>
	</log4net>
	<dotless minifyCss="false" cache="true" web="false" />
	<combres definitionUrl="~/App_Data/combres.xml" />
</configuration>