@model String
@{
	ViewBag.Title = "Спасибо за регистрацию!";
}
@section TopLine
{
	<h1>
		Спасибо за регистрацию!</h1>
}
<div class="narrow-page">
	<p>
		Проверьте почту для завершения регистрации.</p>
	<p>
		Неподтвержденные пользователи будут удалены по истечении суток.</p>
</div>
@Html.Partial("Reformal")
