@model string
@{
	ViewBag.Title = "Восстановление пароля";
}
@section TopLine
{
	<h1 class="very-narrow-page">
		Восстановление пароля</h1>
}
<div class="very-narrow-page">
	@using (Html.BeginForm())
 {
		<p>
			Введите Ваш логин или email и Вам будут высланы дальнейшие инструкции.
		</p>
		<p>
			@Html.TextBox("loginOrEmail", null, new { @class = "required" })
			@Html.ValidationMessage("loginOrEmail")
		</p>
	 if (Model.IsNullOrEmpty())
	 {
		<center><input type="submit" value="Выслать" /></center>
	 }
	 else
	 {
		<p>@Model</p>
	 }
 }
</div>
@Html.Partial("Reformal")
